<div class="container">
    <div class="row">
        <div class="col-8">
            <form [formGroup] = "form" (ngSubmit)="registrar()">
                <div class="form-group">

                    <input type="text" class="form-control" name="nombre" placeholder="nombre" formControlName="nombre">
                    <span *ngIf= "form.get('nombre').status != 'VALID' && form.get('nombre').touched; else nombre" class="text-danger">No cumple con los requisitos</span>

                </div>

                <div class="form-group">

                    <input type="text" class="form-control" name="apellido" placeholder="apellido" formControlName="apellido">
                    <span *ngIf= "form.get('apellido').status != 'VALID' && form.get('apellido').touched; else sinError" class="text-danger">No cumple con los requisitos</span>

                </div>

                <div class="form-group">

                    <input type="email" class="form-control" name="email" placeholder="foo@example.com" formControlName="email">

                    <span class="text-danger" *ngIf="form.get('email').status != 'VALID' && form.get('email').touched">Email inválido</span>
                </div>   

                <div class="form-group">

                    <input type="password" class="form-control" name="password" placeholder="Contraseña" formControlName="password">
                    <span *ngIf= "form.get('password').status != 'VALID' && form.get('password').touched; else sinError" class="text-danger">No cumple con los requisitos</span>

                </div>
               
                <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block">Registrarse</button>

                <ng-template #sinError>
                    <span></span>
                </ng-template>
            </form>
            <br>
            <p>Si ya tenés una cuenta en EconoMe, hacé clic acá:</p> <a [routerLink]="['/login']">Logueate</a>
        </div>
    </div>
</div>

