<div class="container">
    <div class="row">
        <div class="col-8">
           
            <form [formGroup] = "form" (ngSubmit)="login()">

                <p *ngIf = "mensaje_error != ''; else sinError">{{mensaje_error}}</p>
                
                <div class="form-group">

                    <input type="email" class="form-control" name="email" placeholder="foo@example.com" formControlName="email">

                    <span class="text-danger" *ngIf="form.get('email').status != 'VALID' && form.get('email').touched">Mail inválido</span>
                </div>   

                <div class="form-group">

                    <input type="password" class="form-control" name="password" placeholder="Contraseña" formControlName="password">
                    <span *ngIf= "form.get('password').status != 'VALID' && form.get('password').touched; else sinError" class="text-danger">No cumple con los requisitos</span>

                </div>
               
                <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block">Ingresar</button>

                <ng-template #sinError>
                    <span></span>
                </ng-template>
            </form>
            <br>
            <p>Si no tenés una cuenta en EconoMe, hacé clic acá:</p> <a [routerLink]="['/registro']">Registrarme</a>
            
        </div>
    </div>
</div>


