<h2>Ingresos</h2>

<div *ngIf = "suma != undefined; else noHubo">
    <p *ngIf= "sumaPesos != undefined">{{sumaPesos.simbolo}} {{sumaPesos.monto}}</p>
    <p *ngIf= "sumaDolares != undefined">{{sumaDolares.simbolo}} {{sumaDolares.monto}}</p>
</div>

<ng-template #noHubo>
    <p>{{mensaje}}</p>
</ng-template>


<div class="simbols">
    <app-modal-component class="boton-home" [componente]="[nombreComponente, ingresosMes, titulos]"></app-modal-component>
    <button (click)="agregarIngreso()" class="boton-home btn btn-lg btn-outline-primary"><i class="fas fa-plus"></i></button>
    <button [routerLink]="['/historial']" class="boton-home btn btn-lg btn-outline-primary"><i class="fa fa-history" aria-hidden="true"></i></button>    
</div>
